// 27MHz clock
IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

// Left button
IO_LOC  "button" 3;
IO_PORT "button" IO_TYPE=LVCMOS18 PULL_MODE=UP;

// LED0
IO_LOC  "led0" 10;
IO_PORT "led0" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8;

// UART TX to the onboard USB-UART bridge
IO_LOC  "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;
