IO_LOC "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;

IO_LOC "led0" 10;
IO_PORT "led0" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8;

IO_LOC "uart_tx" 17;
IO_PORT "uart_tx" IO_TYPE=LVCMOS33 PULL_MODE=UP DRIVE=8;

IO_LOC "mic_sd" 25;
IO_PORT "mic_sd" IO_TYPE=LVCMOS33 PULL_MODE=NONE;

IO_LOC "mic_ws" 26;
IO_PORT "mic_ws" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "mic_sck" 27;
IO_PORT "mic_sck" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;

IO_LOC "mic_lr" 28;
IO_PORT "mic_lr" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8;
